<!DOCTYPE html>
<html lang="en-US">
<head>
<style>
ul {
    list-style-type: none;

    padding: 0;

    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: 	#FFEBCD;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
body {
	background-color: Gainsboro;
}
h1   {
	color:#FFEBCD;
	font-family: verdana;
}
p    {
	color: White;
}

</style>
<title>About Me</title>
</head>
				<ul>
					<li><a href="#homepage">Home Page</a></li>
  					<li><a href="#articles">Articles</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#about">About</a></li>
				</ul>
                <img src="http://www.lanlinglaurel.com/data/out/19/4045244-panorama-wallpaper.jpeg" alt="Mountain Picture" width="689" height="75">

	<body>

        <div style="background-color:black;color:white;padding:7px;"><h1 align="center">Home Page</h1>
			</div>
			<p align="center">I will now list stuff</p>

		</h1>
	</body>
</head>
